@use './colors' as colors;

.footer{
    background-color: colors.$color-accent !important;
    color: white;
    font-size: 1rem !important;
    a{
        color: white;
        transition: color 0.3s ease;
        
        &:hover {
            color: colors.$color-secondary;
        }
    }
}
.footer.static{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
