// Import Bulma's core
@use "bulma/sass/utilities/index";

// Import Bulma and Buefy styles
/* @use "bulma/bulma"; */
@use "buefy/dist/buefy";

@use './default_controls';
@use './layouts/application';

@use './footer';

//Layouts
@use './layouts/main';
@use './layouts/login';

//sections
@use './sections/main' as main_section;

//TODO Import your custom styles

// Responsive seection
@use './responsive';

body, html {
    min-height: 100vh;
    height: 100%;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}
