//Google fonts
@import url( "https://fonts.googleapis.com/css?family=Open+Sans:ital,300,400,600,700,800&display=swap" );

$open-sans: 'Open Sans', sans-serif;

//Colors
$color-red: #FF3E3E;
$color-yellow: #FAB800;
$color-dark-teal: #005368;
$color-teal: #ffa600;
$color-light-teal: #63ADB6;
$color-cyan: #00B0B9;
$color-lavender: #B1A0C7;
$color-purple: #7F66A0;
$color-black: #222222;
$color-white: #FFFFFF;
$color-primary-dark: #262626;
$color-light-gray: #999999;
$color-dark-gray: #707070;
$color-blue-cyan: $color-cyan;
$color-primary: $color-purple;
$color-link: #485fc7;
$color-info: #3e8ed0;
$color-success: #48c78e;
$color-warning: $color-yellow;
$color-danger: $color-red;
$color-dark-striped: #B1A0C730;
