@use '../colors' as colors;

.application{
    .action-main{

        .section-content{
            margin-top: 1.5rem;
        }

        //Table
        .table-container {
            border: 2px solid colors.$color-primary;
            border-radius: 15px;
            padding: 10px;

            .b-table table th .sort-icon {
                display: none;
                font-size: 12px;
            }
        }
        .table {
            th {
                cursor: pointer;
                color: colors.$color-primary;
            }

            .b-checkbox.checkbox {
                input[type=checkbox]:checked+.check.is-success {
                    background-color: colors.$color-secondary !important;
                }
                .check {
                    border-color: colors.$color-secondary !important;

                    &.is-success:checked {
                        background-color: colors.$color-secondary !important;
                    }
                }
            }

            &.is-striped tbody tr:not(.is-selected):nth-child(even) {
                background-color: colors.$color-bg-secondary !important;
            }

            .are-small .is-white {
                border: 1px solid colors.$color-border-primary;
            }
            .requiredInput {
                color: #f14668;
                .input{
                    border-color: #f14668;
                }
            }
        }

        //Pagination
        .pagination {
            display: inline-flex !important;
            float: right;

            &-list {
                .is-current {
                    background: colors.$gradient-primary;
                    border-color: colors.$color-primary;
                    color: colors.$color-text-light;
                }

                a {
                    border-color: colors.$color-primary;
                }
            }

            &-link {
                border-color: colors.$color-primary;
            }

            ul.pagination-list{
                margin-left: 0;
                margin-top: 0;
            }
        }
    }
}
