@use '../variables' as var;

.login{
    .container{
        margin-bottom: 8rem;
        .content{
            margin: auto;
            width: 50%;
            .media{
                text-align: left;
                .media-left{
                    figure.avatar{
                        margin-left: 0;
                    }
                }
            }
            .title{
                color: var.$color-dark-teal;
            }
            .login-hr{
                background-color: transparent;
            }
            .box {
                /* margin-top: 3rem; */
                padding: 3rem 3rem;
                border-radius: 1rem;
                box-shadow: 0 0.5em 1.5em -0.125em rgba(0, 0, 0, 0.3), 0 0px 0 1px rgba(0, 0, 0, 0.02);
                -webkit-box-shadow: 0 0.5em 1.5em -0.125em rgba(0, 0, 0, 0.3), 0 0px 0 1px rgba(0, 0, 0, 0.02);
                -moz-box-shadow: 0 0.5em 1.5em -0.125em rgba(0, 0, 0, 0.3), 0 0px 0 1px rgba(0, 0, 0, 0.02);
                .avatar {
                    img {
                        padding: 5px;
                        width: 116px;
                    }
                }
                p.info{
                    color: var.$color-dark-teal;
                    font-weight: 700;
                }
                input,
                select,
                .textarea{
                    border-radius: 0.7rem;
                    box-shadow: 1px 1px 18px -11px rgba(0,0,0,0.40) inset;
                    -webkit-box-shadow: 1px 1px 18px -11px rgba(0,0,0,0.40) inset;
                    -moz-box-shadow: 1px 1px 18px -11px rgba(0,0,0,0.40) inset;
                    font-weight: 400;
                    font-size: 1.1rem;
                    padding: 1.5rem;
                    text-align: center;
                    width: 80%;
                }
                input::placeholder{
                    color: #666;
                    text-align: center;
                }
                .control.has-icons-right{
                    .icon{
                        height: 2.7rem;
                        color: var.$color-dark-teal !important;
                    }
                }
                .control{
                    .help.counter{
                        position: absolute;
                        right: 0;
                        margin: 0;
                    }
                }
                .subcontent-main{
                    .info{
                        p::first-letter{
                            text-transform: uppercase;
                        }
                    }
                }
                .subtitle{
                    color: var.$color-light-teal;
                    font-size: 1.33333rem;
                }
                .sub-content{
                    margin-top: 5rem;
                    a{
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: var.$color-teal;
                        margin: 0rem 3rem;
                    }
                }
            }
            p {
                font-weight: 700;
            }
            p.subtitle {
                padding-top: 1rem;
            }
            .has-text-black{
                color: black;
            }
            .field{
                padding-bottom: 10px;
                .b-tooltip{
                    width: 100%;
                }
            }
            .fa{
                margin-left: 5px;
            }
            button.is-info{
                background-color: var.$color-dark-teal;
                border-radius: 0.7rem;
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 2rem;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
            }
            .button.is-info:hover{
                background-color: var.$color-blue-cyan;
                border-color: var.$color-blue-cyan;
            }
        }
    }
    .hero-foot{
        position: absolute;
        bottom: 5rem;
        right: 1.5rem;
        .btn-start-sesion{
            background-color: var.$color-primary-dark;
            color: #FFF;
            border: none;
            font-size: 1rem;
            .icon{
                font-size: 1.5rem;
            }
        }
        .btn-start-sesion:hover{
            color: var.$color-dark-gray;
        }
    }
}
